<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poto albom</title>
  <link href="sours/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
  <!--integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
  <link rel="stylesheet" href="stiles/stiles.css">
  <link rel="apple-touch-icon" sizes="180x180" href="sours/io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="sours/io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="sours/io/favicon-16x16.png">
  <link rel="manifest" href="sours/io/site.webmanifest">
  <link rel="stylesheet" href="stiles/bgvideo.css">

</head>

<body>

  <header>
   
    <div class="nav">
      <div class="bottom">
        <nav class="labl">
          <ul>
            <li>
              <a href="#"><img class="width" src="image/kot.png" alt=""></a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a class="hrt" href="#">Наши фото</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a class="hrt" href="#otdix">Отдых</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a class="hrt" href="#svadba">Свадьба</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a class="hrt" href="#Deti">Дети</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a class="hrt" href="https://vk.com/unechskiy">вк М</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a class="hrt" href="https://vk.com/id134209036">вк Л</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a class="hrt" href="#Video">Видео</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li id="next">

            </li>
          </ul>
        </nav>
      </div>
      <div class="centr">
        <h1>Фото альбом</h1>
      </div>
    </div>

  </header>
  <section>
    <div class="sector">
      <div class="left">
        <p>На этом сайте вы найдете фотографии и видеозаписи нашей семьи!</p>
      </div>
      <div class="front">
        <div class="foto">
          <img src="image/poto.jpg">
          
          <p class="hoverr">
            Михаил и Лариса.
          </p>
         
        </div>
        <div class="ton">
        </div>
      </div>
      <div class="riht">

      </div>
    </div>
    <div id="app">
      <!--<input class="hrt" type="text" :placeholder="inPoto" v-on:input="pastePoto" />
      <input class="hrt" type="text" :placeholder="desc" v-on:input="pastePotoDesc" />
      <button class="hrt" @click="entrPoto">{{entr}}</button>-->
      <div class="slide">
        <div class="BottomClose" onclick="  offslide()"></div>
        <ul class="all-poto">


          <li class="ModalClose" onclick="Mclose()" v-for="imagen in images">

            <img :src=`imageM&L/${imagen.fileName}`>
            <p class="idPoto">{{imagen.fileDesc}}</p>

          </li>
        </ul>
      </div>
      <!--<input class="hrt" type="file" :placeholder="inPoto" v-on:input="pastePotoTu" />
      <input class="hrt" type="text" :placeholder="desc" v-on:input="pastePotoDescTu" />
      <button class="hrt" @click="entrPotoTu">{{entrTu}}</button>-->
      <div class="textTu">
        <h1 class="hoverr"><a name="svadba"></a>Свадьба</h1>
      </div>
      <div class="slide">
        <div class="BottomClose" onclick="  offslide()"></div>
        <ul class="all-poto">
          <li class="ModalClose" onclick="Mclose()" v-for="imagen in imagesTu">
            <img :src=`imageSV/${imagen.fileName}`>
            <p class="idPoto">{{imagen.fileDesc}}</p>

          </li>
        </ul>
      </div>
      <!--<input class="hrt" type="file" :placeholder="inPoto" v-on:input="pastePotoThree" />
      <input class="hrt" type="text" :placeholder="desc" v-on:input="pastePotoDescThree" />
      <button class="hrt" @click="entrPotoThree">{{entrTu}}</button>-->
      <div class="textTu">
        <h1 class="hoverr"><a name="otdix"></a>Отдых</h1>
      </div>
      <div class="slide">
        <div class="BottomClose" onclick="  offslide()"></div>
        <ul class="all-poto">
          <li class="ModalClose" onclick="Mclose()" v-for="imagen in imagesThree ">
            <img :src=`imageMore/${imagen.fileName}`>
            <p class="idPoto">{{imagen.fileDesc}}</p>

          </li>
        </ul>
      </div>
      <div class="textTu">
        <h1 class="hoverr"><a name="Deti"></a>Дети</h1>
      </div>
      <div class="slide">
        <div class="BottomClose" onclick=" offslide()"></div>
        <ul class="all-poto">
          <li class="ModalClose" onclick="Mclose()" v-for="imagen in imagesFour ">
            <img :src=`imageMore/${imagen.fileName}`>
            <p class="idPoto">{{imagen.fileDesc}}</p>

          </li>
        </ul>
      </div>
      <div class="textTu">
        <h1 class="hoverr"><a name="Video"></a>Видео</h1>
        
     <!-- </div>
      <div class="tape">
        <img class="play">
        <img class="stop" src="image/imageTape/stop.png">
        <img class="progress" src="image/imageTape/progress.png">
        <input type="range" class="progressType">
        <div class="controlTime">00:00</div>
        
      </div>-->
      
      <div class="slide">
        <div class="BottomCloseV" onclick="offslideV()"></div>
        <ul class="all-poto">
          <li class="ModalClose" onclick="McloseV()" v-for="imagen in imagesFive ">
            <video class="video" controls :src=`video/${imagen.fileName}`></video>
            <p class="idPoto">{{imagen.fileDesc}}</p>

          </li>
        </ul>
      </div>
    </div>
    <div class="filtrClass">

    </div>

    <!--div class="left-poto">
        <video class="an" autoplay controls>
          <source src="image/ann.MOV">
          
        </video>
        <a class="anpoto" href="an.html">
          Анна
                  </a>

      </div>
    <div class=" front-poto">
      <video class="ns" autoplay controls>
        <source src="image/ns.mov">

      </video>
      

       </div>
       <div class="riht-poto">
        <video class="sf" autoplay controls>
          <source src="image/sf.mp4">
         
  
        </video>
        <a class="sfpoto" href="sof.html"> 
          София
        </a>
       </div-->

    </div>


  </section>
  <footer>

  </footer>
  <!--script src="https://unpkg.com/vue@3/dist/vue.global.js"></script-->
  <script src="java/vue/unpkg/vue.global.js"></script>
  <script src="java/index.js"></script>
  <script src="java/slide.js"></script>
  <!-- <script src="java/filtr.js"></script>-->
</body>

</html>